<h4>Listado</h4>
<ul class="list-group">
  <li *ngFor="let character of characterList; let i  = index; let isFirst = first; let isLast = last; let isEven = even; let isOdd = odd;"
    class="list-group-item"
    [ngClass]="{'list-group-item-dark' : isLast,
    'list-group-item-primary' : isEven}">

    <span class="text-primary"> {{ i + 1}}. </span>

    <span>{{ character.name }} - </span>

    <strong>Power: </strong>

    <span>{{ character.power }}</span>

    <!-- <span>Es el primero:{{ isFirst }}</span>
    <span>Es el Ultimo: {{ isLast }}</span>
    <span>Es Par: {{ isEven }}</span>
    <span>Es Impar: {{ isOdd }}</span> -->
  </li>
</ul>
